<!doctype html>
<html>
<head>
  <title>RetroMaker</title>
</head>
<body>
  <div>
    {% if tweets %}
    {{ tweets|length }} tweets
    <ul>
      {% for tweet in tweets %}
      <li>{{ tweet.id }}:{{ tweet.text }} - {{ tweet.created_at}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div>
    <form action="/user_timeline" method="post">
      target:<input id="target_screen_name" name="target_screen_name" size="30" type="text" />
      daynum:<input id="daynum" name="daynum" size="30" type="text" />
      <input name="commit" type="submit" value="search" />
    </form>
  </div>
</body>
</html>
